.footer {
  /* background-color: rgb(241, 241, 184); */
  background: radial-gradient(circle, white 10%, transparent 10%),
    radial-gradient(circle, pink 10%, white 10%) 20px 20px;
  background-size: 1rem 1rem;
  text-align: right;
}
