.header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.header-title {
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-list {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 1.25rem;
  justify-content: space-between;
}
