.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 1.25rem;
  background: radial-gradient(circle, white 10%, transparent 10%),
    radial-gradient(circle, pink 10%, white 10%) 20px 20px;
  background-size: 1rem 1rem;
}

.nav-link {
  display: block;
  color: black;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.25rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
}

.nav-link:not(.active) {
  /* background-color: #111; */
  /* background-color: rgb(83, 80, 80); */
  /* background-color: rgb(128, 155, 158); */
  /* background-color: rgb(188, 39, 39); */
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-link:hover:not(.active) {
  /* background-color: rgb(182, 171, 171); */
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-link-active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* fix padding-right */

/* .last-child {
  padding-right: 0rem;
  margin-right: 0rem;
} */
