.article-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: rgba(255, 255, 255, 0.7);
}

.article-individual {
  width: 70%;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.article-info {
  width: 25%;
  margin-top: 0.75rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  align-items: flex-end;
}

.span-link__topics {
  font-weight: bold;
}

.vote-up-container,
.vote-down-container {
  display: flex;
  margin-top: 0.5rem;
}

.vote-up-image,
.vote-down-image {
  height: 2.5rem;
  margin-right: 1rem;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .article-section {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 600px) {
  .article-individual,
  .article-info,
  .title_case,
  .article-body {
    width: 98%;
  }
} */

@media screen and (max-width: 600px) {
  .article-info {
    width: 98%;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 0rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .vote-down-container {
    margin-left: 1rem;
  }
}
