.post-comment {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.comment-input {
  width: 25rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  margin-right: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  height: 1.6rem;
}

.comments-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: rgba(255, 255, 255, 0.7); */
  margin-bottom: 2rem;
}

.comment-individual {
  width: 70%;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.comment-info {
  width: 25%;
  margin-top: 0.75rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  align-items: flex-end;
}

.comment-post,
.user-comments {
  margin-left: 1rem;
}

.comment-post {
  margin-bottom: 1rem;
}

.user-comments {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
}

.comment-body {
  padding: 0;
  margin: 0;
}
