.App-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 12vh auto 8vh;
  background-color: lightgray;
}

/* Split css into components later */

.footer {
  background-color: gray;
}
