.App-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 12vh auto 8vh;
  background-color: lightgray;
}

/* Split css into components later */

.header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: gray;
}
