.App-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 7vh auto 6vh;
  background: radial-gradient(circle, white 10%, transparent 10%),
    radial-gradient(circle, pink 10%, white 10%) 20px 20px;
  background-size: 1rem 1rem;
}
